name: Deploy to WordPress.org

on:
    release:
        types:
            - published

permissions:
    contents: read

jobs:
    deploy:
        name: Deploy tagged release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Deploy plugin
              uses: 10up/action-wordpress-plugin-deploy@v2
              env:
                  SVN_USERNAME: ${{ secrets.WPORG_SVN_USERNAME }}
                  SVN_PASSWORD: ${{ secrets.WPORG_SVN_PASSWORD }}
                  SLUG: bt-svg-viewer
                  BUILD_DIR: bt-svg-viewer
                  VERSION: ${{ github.event.release.tag_name }}
